.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  display: flex;
  flex-flow: column;
  
  &__btn {
    align-self: center;
    border: none;
    padding: 1.2rem 2rem;
    margin: 1.4rem;
    background-color: rgba($-color-primary, .9);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s;

    &:disabled {
      background-color: rgba($-color-primary, .4);
      cursor: not-allowed;
    }
    
    &:active {
      background-color: rgba($-color-primary, .7);
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 2px 10px rgba(0,0,0,.4);
    }
    
    &:focus {
      outline: none;
    }
  }

  &__head {
    height: 7rem;
    border-bottom: 1px solid rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  &__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: absolute;
    font-size: 2rem;
    color: #fff;
    background-color: $-color-primary;
    top: .7rem;
    left: .7rem;
    bottom: .7rem;
    right: .7rem;
    border-radius: 4px;
    text-align: center;

    &--main {
      font-size: 2.5rem;
    }

    &--sub {
      font-size: 1.2rem;
    }
  }

  &__input {
    font: inherit;
    width: 130%;
    padding: 1.3rem;
    border: none;
    background-color: #f1f1f1;
    color: rgba(0,0,0,.9);
    font-size: 1.6rem;
    border-radius: 3px;
    transition: all .2s;
    border-bottom: 3px solid transparent;
    
    &:focus {
      outline: none;
    }

    &:placeholder-shown + .form__label {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__label {
    font-size: 1.6rem;
    transform: translate(-2.3rem, 1rem);
    align-self: flex-start;
    color: rgba(0,0,0,.5);
    transition: all .2s;
    opacity: 1;
  }
  
  &__inputs {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 1.6rem auto;
  }
}
