.modal {
  background-color: #fff;
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  transition: all .2s;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  &--show {
    opacity: 1;
    visibility: visible;
  }

  &--hide {
    opacity: 0;
    visibility: hidden;
  }
}
